# Build outputs
**/bin/
**/obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log

# OS files
.DS_Store

# IDE folders
.vs/
.idea/

# VS Code workspace files
.vscode/
